/* ========================================================================== */
/* Corps */

html {
    height: 100%;
}

body {
    min-height: 100%;
    color #444444;
    background-color: #f0f0f0;
    margin: 10px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-family: arial;
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    -moz-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
}

/* ========================================================================== */
/* Général */
/*
a {
    color: #444444;
    text-decoration: underline;
}

a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}
*/
/* ========================================================================== */
/* Header */

#banniere {
    background-color: #ffcc99;
    background-repeat: no-repeat;
    background-position: right;
    height: 120px;
}

#logo {
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

#titre_banniere {
    color: #666666;
    font-family: Arial;
    display: inline-block;
    font-size: 34px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}

/* ========================================================================== */
/* Menu */

#menu {
    padding-top: 20px;
    float: left;
    background-color: #666666;
    color: #cccccc;
    width: 250px;
    min-height: 700px;
}

#menu .titre_menu {
    margin-left: -5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#menu ul {
    list-style-type: none;
    margin-left: -20px;
}

#menu ul a, #bonjour {
    color: #cccccc;
    text-decoration: none;
}

#menu ul a:hover {
    text-decoration: underline;
}

#bonjour {
    display: inline-block;
    margin-left: 20px;
}

.titre_menu {
    font-size: 18px;
    font-weight: bold;
}

/* ========================================================================== */
/* Contenu */

#contenu {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 250px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* ========================================================================== */
/* Tableau */

/* Lignes paires */
.ligne_article0 {
    background-color: #dddddd;
}

/* Lignes impaires */
.ligne_article1 {
    background-color: #f0f0f0;
}

/* Surligne au survol */
.ligne_article0:hover, .ligne_article1:hover {
    background-color: #cccccc;
    /* cursor: pointer; */
}

table {
    /* width: 80%; */
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

table, th, td {
    border: 1px solid black;
}

th {
    color: #cccccc;
    background-color: #666666;
}

/* Colorier une ligne */
table .col_coloree {
    color: #444444;
    background-color: #eecccc;
}

/* Centre */
table .centrer, table .center {
    text-align: center;
}

table .right, table .gauche {
    text-align: right;
}

/* ========================================================================== */
/* Formulaire */

.form_connexion {
    margin: 10px auto;
    width: 500px;
}

/* Alignement du texte à gauche */
form .form_col, .form_col {
    text-align: left;
    display: inline-block;
    margin-right: 15px;
    width: 160px;
}

/* Réduit la largeur de la quantité */
form .input_quantite {
    width: 80px;
    text-align: center;
}

form .input_valider {
    margin-top: 10px;
    float: right;
}

/* ========================================================================== */
/* Campagne */

.campagne_ouverte {
    color: green;
}

.campagne_fermee {
    color: red;
}

.indication_campagne {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

/* ========================================================================== */
/* Erreur */

.erreur {
    font-weight:bold;
    color: red;
}

/* ========================================================================== */
/* Autre */

/* Pour que les flottants ne dépassent pas de leur conteneur */
.clear {
    clear: both;
    height: 0;
    overflow: hidden; /* Précaution pour IE 7 */
}

