/* ========================================================================== */
/* Corps */

html {
    height: 100%;
}

body {
    min-height: 100%;
    color: #444444;
    background-color: #f0f0f0;
    margin: 10px auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-family: arial;
}

/* ========================================================================== */
/* Général */
a:link {  
    text-decoration: none; 
    color: #666666;
}
a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: #666666;
}
a:hover, a:focus, a:active { 
    text-decoration: none ;
    color: #9685BA;
}


/* ========================================================================== */
/* Header */

#banniere {
    background-color: yellowgreen;
    background-repeat: no-repeat;
    background-position: right;
    height: 120px;
    width: 2850px;
}

#logo {
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

#titre_banniere {
    color: #f0f0f0;
    font-family: Arial;
    display: inline-block;
    font-size: 36px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}

/* ========================================================================== */
/* Menu */

#menu {
    padding-top: 20px;
    float: left;
    background-color: #666666;
    color: #cccccc;
    width: 300px;
    min-height: 1400px;
}

#menu .titre_menu {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#menu ul {
    list-style-type: circle;
    margin-left: 0px;
    margin-right: 4px;
}

#menu ul a, #bonjour {
    color: #cccccc;
    text-decoration: none;
}

#menu ul a:hover, a:focus, a:active { 
    text-decoration: none; 
    color: #9685BA;
}

#bonjour {
    display: inline-block;
    margin-left: 20px;
}

.titre_menu {
    font-size: 18px;
    font-weight: bold;
}

/* ========================================================================== */
/* Contenu */

#contenu {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 300px;
}

h1 {
    color: #666666;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* ========================================================================== */
/* Tableau */
/* Le comptage des lignes commence à zéro avec numLigne */ 

/* Lignes paires gris foncé*/
.ligne_article0 {
    background-color: #dddddd;
}

/* Lignes impaires gris clair */
.ligne_article1 {
    background-color: #f0f0f0;
}

/* Lignes impaires en vente vert clair*/
.ligne_article11 {
    background-color: #6ce3a1;
}

/* Lignes impaires pas en vente rouge clair*/
.ligne_article12 {
    background-color: #cd5c5c;
}
/* Lignes paires en vente vert foncé*/
.ligne_article01 {
    background-color: #3cb371;
}
/* Lignes paires pas en vente rouge foncé */
.ligne_article02 {
    background-color:  #ad3c3c;
}
/* Surligne au survol */
.ligne_article0:hover, .ligne_article1:hover, .ligne_article11:hover, .ligne_article12:hover, .ligne_article01:hover, .ligne_article02:hover {
    background-color: #cccccc;
    /* cursor: pointer; */
}

.tab_article {
    font-size:10px;
}

.tab_tab_article {
    font-size:9px;
}

/* Titre rayon dans commander article */
.cat {
    font-size: 30px;
    font-weight: bold;
}

/* Liens "cacher" "montrer" */
.cat_bouton {
    color: #666666;
}

.cat_bouton:hover, .cat_bouton:focus, .cat_bouton:active { 
    text-decoration: none ; 
    color: #9685BA;
}

table {
    /* width: 80%; */
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

table, th, td {
    border: 1px solid black;
}

th {
    color: #cccccc;
    background-color: #666666;
}

/* Colorier une ligne */
table .col_coloree {
    color: #444444;
    background-color: #eecccc;
}

/* Centre */
table .center, table .centrer {
    text-align: center;
}

table .left, table .gauche {
    text-align: left;
}
table .right, table .droite {
    text-align: right;
}

/* ========================================================================== */
/* Formulaire */

.form_connexion {
    margin: 10px auto;
    width: 500px;
}

/* Alignement du texte à gauche */
form .form_col, .form_col {
    text-align: left;
    display: inline-block;
    margin-right: 15px;
    width: 160px;
}

/* Réduit la largeur de la quantité */
form .input_quantite {
    width: 60px;
    text-align: center;
}

form .input_quantite2 {
    width: 130px;
    text-align: center;
}

form .input_valider {
    margin-top: 10px;
    float: right;
}

/* ========================================================================== */
/* Campagne */

.campagne_ouverte {
    color: green;
}

.campagne_fermee {
    color: red;
}

.indication_campagne {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

/* ========================================================================== */
/* Historique */

.historique {
    font-weight: bold;
    color: red;
}

/* ========================================================================== */
/* Message */

.erreur {
    font-weight:bold;
    color: red;
}

.succes {
    font-weight:bold;
    color: green;
}

.message {
    font-weight:bold;
    color: blue;
}


/* ====== */
/* Liste à plusieurs colonnes*/

#list_columns ul{
  width:760px;
  margin-bottom:200px;
  margin-top: 75px;
  margin-left: 0px;
  overflow:hidden;
}
#list_columns li {
  line-height:1.5em;
  border-bottom:1px solid #ccc;  
  float: left;
  display:inline;
}
#double li  { width:50%; } 
#triple li  { width:33.333%; } 
#quad li    { width:25%; } 
#six li     { width:16.666%; } 


/* ========================================================================== */
/* Autre */

/* Pour que les flottants ne dépassent pas de leur conteneur */
.clear {
    clear: both;    
    height: 0;
    overflow: hidden; /* Précaution pour IE 7 */
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -user-select: none;
    /*Required to make elements draggable in old WebKit*/ 
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.column {
    height: 20px;
    width: 300px;
    float: left;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}
.column header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -webkit-gradient(linear, left top, right top,
        color-stop(0, rgb(0,0,0)),
        color-stop(0.50, rgb(79,79,79)),
        color-stop(1, rgb(21,21,21)));
    background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
    border-bottom: 1px solid #ddd;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -ms-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

.column.over {

  border: 2px dashed #000;
}

/*ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	width: 440px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	margin-bottom: 3px;
	padding-left: 10px;
}*/

button {
	color: #fff;
	background: #1c1c1c;
	background: -moz-linear-gradient(top,  #1c1c1c 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #1c1c1c 0%,#000000 100%);
	background: -o-linear-gradient(top,  #1c1c1c 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #1c1c1c 0%,#000000 100%);
	background: linear-gradient(to bottom,  #1c1c1c 0%,#000000 100%);
	border: 0;
	padding: 5px 10px;
	cursor: pointer;
	margin: 0;
}
button:active {
	margin: 1px 0 0 1px;
}
.over {
	border: 1px dashed #000;
}
